---
layout: default
refactor: true
---

{% include lang.html %}

<div class="card-body">
  <h1 class="card-title">👋 Hi, I’m Pranay</h1>
  <p class="card-text mt-2">
  I’m an engineer by profession and by heart, driven by a constant curiosity for how things work — and how they can work better. With a motto to build, optimize, and iterate. Currently, I work as a Data Scientist at Axtria, where I develop solutions around Next Best Action systems (a form of Recommendation Engine) and GenAI-based applications. Beyond work, I enjoy diving deep into technical topics and occasionally share my learnings through my blog, <em>Learning Log</em> — because I believe writing is one of the best ways to clarify your thinking.
  </p>
  {% comment %} <p>
    Coding and algorithmic problem-solving have excited me since my undergraduate days. As the world of data and AI rapidly evolved, I became captivated by the potential of next-generation technologies — which led me to pivot into data science. It’s a field that beautifully blends analytical rigor, creative problem-solving, and logical coding — all in one
  </p> {% endcomment %}
  {% comment %} <p>
    Currently, I work as a Data Scientist at Axtria, where I develop solutions around Next Best Action systems (a form of recommendation engine) and GenAI-based applications. Beyond work, I enjoy diving deep into technical topics and occasionally share my learnings through my blog, <em>Learning Log</em> — because I believe writing is one of the best ways to clarify your thinking.  </p>
  <p> {% endcomment %}
    {% comment %} This portfolio is where I share my projects, experiments, and thoughts. Feel free to explore — and if you're into machine learning, graphs, or geeky side quests, you’ll feel right at home.
  </p> {% endcomment %}
</div>

<div id="archives">
  <h1 class="card-title">Memoriae Timeline</h1>
  <p class="card-text mt-2">A walk through the memories that shaped me</p>

  <div class="timeline-block">
    <time class="year">2023</time>
    <ul>
      <li><a href="#">Started my journey at Axtria as a Data Scientist</a></li>
      <li><a href="#">Graduated with an M.Tech in Computational & Data Sciences from IISc Bangalore</a></li>
    </ul>
  </div>

  <div class="timeline-block">
    <time class="year">2021</time>
    <ul>
      <li><a href="#">Began M.Tech at the CDS department, IISc Bangalore</a></li>
      <li><a href="#">Cracked GATE with AIR 157 and joined IISc Bangalore</a></li>
    </ul>
  </div>

  <div class="timeline-block">
    <time class="year">2019</time>
    <ul>
      <li><a href="#">Joined Escorts Ltd. as a Graduate Engineer Trainee</a></li>
      <li><a href="#">Graduated with a B.Tech in Mechanical Engineering from GBPUAT</a></li>
    </ul>
  </div>

  <div class="timeline-block">
    <time class="year">2015</time>
    <ul>
      <li><a href="#">Embarked on my engineering journey at GBPUAT, majoring in Mechanical Engineering</a></li>
    </ul>
  </div>
</div>



{% assign all_pinned = site.posts | where: 'pin', 'true' %}
{% assign all_normal = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts on current page -->

{% assign visible_start = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign visible_end = visible_start | plus: paginator.per_page %}

{% if all_pinned.size > visible_start %}
  {% if all_pinned.size > visible_end %}
    {% assign pinned_size = paginator.per_page %}
  {% else %}
    {% assign pinned_size = all_pinned.size | minus: visible_start %}
  {% endif %}

  {% for i in (visible_start..all_pinned.size) limit: pinned_size %}
    {% assign posts = posts | push: all_pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_size = 0 %}
{% endif %}

<!-- Get normal posts on current page -->

{% assign normal_size = paginator.posts | size | minus: pinned_size %}

{% if normal_size > 0 %}
  {% if pinned_size > 0 %}
    {% assign normal_start = 0 %}
  {% else %}
    {% assign normal_start = visible_start | minus: all_pinned.size %}
  {% endif %}

  {% assign normal_end = normal_start | plus: normal_size | minus: 1 %}

  {% for i in (normal_start..normal_end) %}
    {% assign posts = posts | push: all_normal[i] %}
  {% endfor %}
{% endif %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in posts %}
    <article class="card-wrapper card">
      <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
        {% assign card_body_col = '12' %}

        {% if post.image %}
          {% assign src = post.image.path | default: post.image %}
          {% unless src contains '//' %}
            {% assign src = post.media_subpath | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

          {% assign lqip = null %}

          {% if post.image.lqip %}
            {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
          {% endif %}

          <div class="col-md-5">
            <img src="{{ src }}" alt="{{ alt }}" {{ lqip }}>
          </div>

          {% assign card_body_col = '7' %}
        {% endif %}

        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>

            <div class="card-text content mt-0 mb-3">
              <p>{% include post-description.html %}</p>
            </div>

            <div class="post-meta flex-grow-1 d-flex align-items-end">
              <div class="me-auto">
                <!-- posted date -->
                <i class="far fa-calendar fa-fw me-1"></i>
                {% include datetime.html date=post.date lang=lang %}

                <!-- categories -->
                {% if post.categories.size > 0 %}
                  <i class="far fa-folder-open fa-fw me-1"></i>
                  <span class="categories">
                    {% for category in post.categories %}
                      {{ category }}
                      {%- unless forloop.last -%},{%- endunless -%}
                    {% endfor %}
                  </span>
                {% endif %}
              </div>

              {% if post.pin %}
                <div class="pin ms-1">
                  <i class="fas fa-thumbtack fa-fw"></i>
                  <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
                </div>
              {% endif %}
            </div>
            <!-- .post-meta -->
          </div>
          <!-- .card-body -->
        </div>
      </a>
    </article>
  {% endfor %}
</div>
<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
